<%- include('./assets/header'); %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- CSS Custom -->
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="stylesheet" href="./assets/css/slideshow.css">

  <!-- header -->
  <header class="p-3 text-white navbar-main align-items-center d-flex justify-content-center position-absolute"
    style="width: 100%;">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center  mb-lg-0 text-white text-decoration-none ">
          <h3 class="mb-0 mx-5">LOGO</h3>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto  justify-content-center mb-md-0 my-0">
          <li><a href="#" class="nav-link px-2 text-white">HOME</a></li>
          <li><a href="#" class="nav-link px-2 text-white">WORK</a></li>
          <li><a href="#" class="nav-link px-2 text-white ">CONTACT</a></li>
          <li><a href="#" class="nav-link px-2 text-white">ABOUT ME</a></li>
        </ul>

        <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form> -->

        <div class="text-end">
          <ul class="nav col-12 col-lg-auto me-lg-auto  justify-content-end mb-md-0">
            <% if(login) { %>
              <li><a href="/account/history" class="nav-link px-2 text-white">History</a></li>
              <li><a href="/game" class="nav-link px-2 text-white">Play Game</a></li>
              <li><a href="/account/edit" class="nav-link px-2 text-white">Hai, <%= name %></a></li>
              <% } else { %>
                <li><a href="/register" class="nav-link px-2 text-white">SIGN UP</a></li>
                <li><a href="/login" class="nav-link px-2 text-white">LOGIN</a></li>

                <% } %>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <!-- /header -->

  <header class="masthead" style='background-image: url("./assets/img/main-bg.jpg");'>
    <div class="container">
      <div class="masthead-heading">PLAY TRADITIONAL GAME</div>
      <div class="masthead-subheading">Experience new traditional game play</div>
      <a class="btn masthead-btn" href="/game">PLAY NOW</a>
    </div>


    <div class="mb-3 btn-story">
      <a href="#about" class="text-decoration-none text-white">
        <div class="col mb-0 pb-0">
          <small>THE STORY</small>
        </div>
        <div class="col mt-0 pt-0">
          <img src="./assets/img/scroll_down.svg" alt="">
        </div>
      </a>
    </div>
  </header>

  <section class="page-slide page-section text-white" id="about"
    style='background-image: url("./assets/img/the-games-bg.jpg");'>
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <h5>What's so speial?</h5>
          <h1 class="text-title-main">THE GAMES</h1>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <span data-target="#carouselExampleIndicators" class="dot active" data-slide-to="0"></span>
              <span data-target="#carouselExampleIndicators" class="dot" data-slide-to="1"></span>
              <span data-target="#carouselExampleIndicators" class="dot" data-slide-to="2"></span>
              <span data-target="#carouselExampleIndicators" class="dot" data-slide-to="3"></span>
              <span data-target="#carouselExampleIndicators" class="dot" data-slide-to="4"></span>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="./assets/img/rockpaperstrategy-1600.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="./assets/img/rockpaperstrategy-1600.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="./assets/img/rockpaperstrategy-1600.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="./assets/img/rockpaperstrategy-1600.jpg" alt="Fourts slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="./assets/img/rockpaperstrategy-1600.jpg" alt="Fifith slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <img src="./assets/img/scroll_down.svg" alt="" style="transform: rotate(90deg);">
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <img src="./assets/img/scroll_down.svg" alt="" style="transform: rotate(-90deg);">
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="page-slide page-section text-white" id="feature"
    style='background-image: url("./assets/img/features.jpg");'>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12"></div>
        <div class="col-md-6 col-sm-12 p-5">
          <h5>What's so speial?</h5>
          <h1 class="mb-5">FEATURES</h1>

          <div class="row">
            <div class="col-1 align-self-center">
              <div class="dot-fill"></div>
            </div>
            <div class="col">
              <h5 class="table-text-title">TRADITIONAL GAMES</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-1 ">
              <div style="position:absolute; top: -15px; bottom: -28px; left: 17px;">
                <svg style="width: 100%; height: 100%">
                  <line x1="4" y1="0" x2="4" y2="100%" stroke="white" />
                </svg>
              </div>
            </div>
            <div class="col">
              <p>If you miss your childhood, we provide many traditional games here</p>
            </div>
          </div>

          <div class="row mb-3 mt-3">
            <div class="col-1 align-self-center">
              <div class="dot"></div>
            </div>
            <div class="col">
              <h5 class="table-text-title">GAME SUITE</h5>
            </div>
          </div>

          <div class="row mb-3 mt-3">
            <div class="col-1 align-self-center">
              <div class="dot"></div>
            </div>
            <div class="col">
              <h5 class="table-text-title">TBD</h5>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>

  <section class="page-slide page-section text-white " id="required"
    style='background-image: url("./assets/img/figma/bg_image_4.jpg");'>
    <div class="container p-4">
      <div class="row ">
        <div class="col-12 text-center">
          Can My Computer Run this game?
        </div>
        <div class="col-md-6 col-sm-12 mt-5">
          <p class="text-sys-req">SYSTEM <br>REQUIREMENTS</p>
          <table style="width: 100%;">
            <tr>
              <td scope="col-6">
                <h2 class="table-text-title">OS:</h2>
                <p class="table-text">Windows 7 64-bit only<br> (No OSX support at this time)</p>
              </td>
              <td scope="col-6">
                <p class="table-text-title">PROCESSOR:</p>
                <p class="table-text">intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="table-text-title">MEMORY:</p>
                <p class="table-text">4 GB RAM</p>
              </td>
              <td>
                <p class="table-text-title">STORAGE:</p>
                <p class="table-text">8 GB available space</p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p class="table-text-title">GRAPHICS:</p>
                <p class="table-text">NVIDIA GeForce GTX 660 2GB or<br>
                  AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
              </td>
            </tr>
          </table>

        </div>
        <div class="col-md-6 col-sm-12 p-5">
        </div>
      </div>
    </div>
  </section>

  <section class="page-slide page-section text-white" id="quotes"
    style='background-image: url("./assets/img/figma/bg_image_5.jpg");'>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 p-5 align-self-center">
          <div class="">
            <h1 class="mb-4">TOP SCORES</h1>
            <p class="mb-4">This top score from various games provided on this platform</p>
            <a href="" class="btn btn-warning btn-lg btn-more">see more</a>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 p-5 ">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-2"></div>
                <div class="col-10">
                  <img src="./assets/img/figma/quote_1.png" alt="" style="width: 100%; height: auto;" class="py-3">
                </div>
              </div>
              <div class="row">
                <div class="col-10">
                  <img src="./assets/img/figma/quote_2.png" alt="" style="width: 100%; height: auto;" class="py-3">
                </div>
                <div class="col-2"></div>
              </div>
              <div class="row">
                <div class="col-2"></div>
                <div class="col-10">
                  <img src="./assets/img/figma/quote_3.png" alt="" style="width: 100%; height: auto;" class="py-3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-slide page-subscribe text-white" id="news"
    style='background-image: url("./assets/img/figma/bg_image_6.jpg");'>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-12 px-5 text-center">
          <img src="./assets/img/figma/image (3).png" alt="" style="width: auto; height: 450px;">
        </div>
        <div class="col-md-7 col-sm-12 p-5">
          <!-- rm: align-self-center -->
          <h5>Want to stay in<br>touch?</h5>
          <h1 class="text-title-main">NEWSLETTER<br>SUBSCRIBE</h1>
          <p>In order to start receiving our news, all you have to do is enter your email address. Everything else will
            be taken care of by us. We will send you emails containing information about game. We don't spam.</p>

          <div class="row">
            <div class="col-md-8">
              <div class="form-floating mb-3">
                <input type="email" class="form-control bg-dark text-warning" id="floatingInput"
                  placeholder="name@example.com" autocomplete="off">
                <label for="floatingInput ">Your email address</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <button class="btn btn-warning btn-lg btn-sub">Subscribe now</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <footer class="footer mt-auto py-4 text-start" style='background-image: url("./assets/img/figma/bg_image_6.jpg");'>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ul class="nav col-12 col-lg-auto me-lg-auto  justify-content-end mb-md-0 my-0">
            <li><a href="#" class="nav-link px-md-4 text-white ">MAIN</a></li>
            <li><a href="#about" class="nav-link px-md-4 text-white">ABOUT</a></li>
            <li><a href="#feature" class="nav-link px-md-4 text-white ">GAME FEATURES</a></li>
            <li><a href="#required" class="nav-link px-md-4 text-white">SYSTEM REQUIREMENTS</a></li>
            <li><a href="#quotes" class="nav-link px-md-4 text-white">QUOTES</a></li>
            <li><a href=""><img src="./assets/img/facebook.svg" alt="facebook" class="px-md-4 px-2"></a></li>
            <li><a href=""><img src="./assets/img/twitter.svg" alt="twitter" class="px-md-4 px-2"></a></li>
            <li><a href=""><img src="./assets/img/Vector.svg" alt="youtube" class="px-md-4 px-2"></a></li>
            <li><a href=""><img src="./assets/img/twitch.svg" alt="twitch" class="px-md-4 px-2"></a></li>
          </ul>
        </div>
        <div class="col-12">
          <hr style="border-top: 1px solid white;">
        </div>
        <div class="col-4">
          <small class="text-muted ">&copy; Your Games, Inc. All Rights Reserved</small>
        </div>
        <div class="col-8 text-end">
          <small class="text-white " style="letter-spacing: 1px;">PRIVACY POLICY | TERMS OF SERVICES | CODE OF
            CONDUCT</small>
        </div>
      </div>
    </div>
  </footer>